scipy
requests
numpy
pandas
scikit-learn
streamlit
pandas_profiling
wordcloud
pywaffle
squarify
pyxlsb
Pillow
xlsxwriter
datetime
typing
pydantic
uvicorn
fastapi
certifi
fastapi_utils
pytest
pylint
flake8